{% extends "auctions/layout.html" %}

{% block body %}

   <h2 style="text-align: center; font-size: 2.5rem;">Categories</h2>
   <ul style="list-style: none;font-size: 2rem;text-align: center;margin-right: 2%">
   	<li><a href = '{% url "categories" 1 %}'>Kids</a></li>
   	<li><a href = '{% url "categories" 2 %}'>Women</a></li>
   	<li><a href = '{% url "categories" 3 %}'>Electronics</a></li>
   	<li><a href = '{% url "categories" 4 %}'>Groceries</a></li>
   	<li><a href = '{% url "categories" 5 %}'>Other</a></li>
   </ul>
{% endblock %}